@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/img/background.jpg);
    background-size: cover;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #FC0174;
    text-shadow: 0px 10px 15px #700d6b;
    transition: all 0.3s ease-in-out;
}

.left-login > h1:hover {
    text-shadow: 0 5px 45px #ff1ef4;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 45px #C70554;
}

.card-login > h1 {
    color: #FC0174;
    font-weight: 800;
    margin: 0;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.textfield > input:focus {
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 15px #161616;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
    font-family: 'Poppins', sans-serif;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 850;
    letter-spacing: 3px;
    color: #2b134b;
    background: #C70554;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #15461b73;
    transition: all 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.btn-login:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}